/* buttons */
.button {
    min-height: 48px;
    padding: var(--space-sm) var(--space-lg);

    font-size: var(--font-button);
    font-weight: 700;

    border-radius: var(--border-radius-middle);
    cursor: pointer;
}

.button-dark {
    color: #fff;
    background-color: var(--background-dark-color);
    border: 1px solid transparent;
}

.button-dark:hover {
    background-color: var(--background-dark-hover-color);
    box-shadow: var(--button-hover-shadow);
}

.button-dark:active {
    background-color: var(--button-dark-active-background-color);
}

.button-bright {
    color: var(--background-dark-color);
    background-color: #fff;
    border: 1px solid var(--background-dark-color);
}

.button-bright:hover {
    color: var(--background-dark-hover-color);
    border-color: var(--background-dark-hover-color);
    outline: 2px solid var(--background-dark-hover-color);
    box-shadow: var(--button-hover-shadow);
}

.button-bright:active {
    outline: none;
}

.button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: unset;
    width: 32px;
    height: 32px;

    margin-top: var(--space-xl);
    padding: 0;

    background-color: unset;
    border: unset;
}

.button-arrow > img {
    display: block;
    width: 50%;
    aspect-ratio: 1/1;
}

.button-close {
    border: unset;
    background-color: unset;
}

.button-add-task {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-sm);
    min-height: unset;
}

.button-add-task-dark-size {
    max-height: var(--size-button-add-mobile-dark);
    max-width: var(--size-button-add-mobile-dark);
}

.button-add-task-bright-size {
    max-height: var(--size-button-add-mobile-bright);
    max-width: var(--size-button-add-mobile-bright);
}

.button-search {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-inline: var(--space-sm);
    padding: 0;

    min-height: unset;
    height: var(--size-button-search);
    width: var(--size-button-search);

    border: unset;
    background-color: inherit;
}

.button-search img {
    display: block;
    height: 60%;
    aspect-ratio: 1/1;
}

.button-task-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 0;

    padding-block: 0;
    padding-inline: var(--space-xs);
    gap: var(--space-xs);

    color: var(--background-dark-color);
    font-weight: 400;

    background-color: unset;
    border: unset;
    border-radius: 0;

    &:hover {
        font-weight: 700;
    }

    & img {
        display: block;
    }
}

/* main form container */
.main-wrapper {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);

    width: min(100%, var(--login-max-width));
    padding: var(--space-xl) var(--space-lg);

    background-color: #fff;
    border-radius: var(--border-radius-high);
    box-shadow: 0 0 16px -1px rgb(0 0 0 / 50%);

    opacity: 0;
}

.main-wrapper h1 {
    margin: 0;

    font-size: var(--font-heading);
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

/* input container */

.input-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: clamp(48px, 45.71px + 0.71vw, 56px);
    padding-inline: var(--space-md);

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-middle);
}

/* input components */

.input-wrapper button,
.input-icon,
.button-show-password {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-left: var(--space-xs);
    padding: var(--space-xs);

    background-color: transparent;
    border: none;
    border-radius: 12px;
}

.input-wrapper button {
    cursor: pointer;
}

.input-wrapper:focus-within {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgb(41 171 226 / 25%);
}

.input-wrapper input {
    flex: 1;
    min-width: 0;
    height: clamp(48px, 45.71px + 0.71vw, 56px);
    padding: 0;

    font-size: var(--font-input);

    background-color: transparent;
    border: none;
    outline: none;
}

.input-wrapper img {
    width: clamp(18px, 17.43px + 0.18vw, 20px);
    height: auto;
}

button:focus-visible,
.login-input-mail:focus-visible,
.login-input-password:focus-visible {
    outline: 3px solid var(--input-focus-color);
    outline-offset: 2px;
}

/* Badges */

.badge-user {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--size-badge-user);
    width: var(--size-badge-user);

    color: #fff;
    font-size: 16px;

    border: solid 2px #fff;
    border-radius: 50%;
}

.badge-user-orange {
    background-color: var(--color-badge-user-orange);
}

.badge-user-red {
    background-color: var(--color-badge-user-red);
}

.badge-user-purple {
    background-color: var(--color-badge-user-purple);
}

.badge-user-blue-light {
    background-color: var(--color-badge-user-blue-light);
}

.badge-user-blue-dark {
    background-color: var(--color-badge-user-blue-dark);
}

.badge-user-blue-medium {
    background-color: var(--color-badge-user-blue-medium);
}

.badge-user-pink {
    background-color: var(--color-badge-user-pink);
}

.badge-user-yellow {
    background-color: var(--color-badge-user-yellow);
}

.badge-user-mint {
    background-color: var(--color-badge-user-mint);
}

.badge-type {
    margin-inline-end: auto;
    padding-block: var(--space-xxs);
    padding-inline: var(--space-xs);

    font-weight: 400;
    text-align: start;
    text-wrap: nowrap;
    color: #fff;

    border-radius: var(--border-radius-small);
}

.badge-type-user {
    background-color: var(--color-badge-type-blue);
}

.badge-type-technical {
    background-color: var(--color-badge-type-green);
}