

/* Content */
.privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: var(--mobile-header-footer-height) 0;
}

.privacy-policy-wrapper {
    width: min(100%, var(--content-max-width));

    padding: var(--space-md);
}

.privacy-policy-wrapper h1 {
    margin: var(--space-xl) 0;

    font-size: 2.5rem;
    font-weight: 700;
}

.privacy-policy-wrapper h2 {
    margin-bottom: var(--space-sm);

    font-size: 1.5rem;
    font-weight: 700;
}

.privacy-policy-wrapper h3, h4 {
    margin-top: var(--space-sm);
}

.privacy-policy-wrapper p {
    margin: var(--space-xs) 0;
}
 .privacy-policy-wrapper-headline-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
 }
