

/* Content */
.privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: var(--mobile-header-footer-height) 0;
}

.privacy-policy > section {
    width: min(100%, var(--content-max-width));
    
    padding: var(--space-md);
}

.privacy-policy h1 {
    margin: var(--space-xl) 0;

    font-size: 2.5rem;
    font-weight: 700;
}

.privacy-policy h2 {
    margin-bottom: var(--space-sm);

    font-size: 1.5rem;
    font-weight: 700;
}

.privacy-policy h3, h4 {
    margin-top: var(--space-sm);
}

.privacy-policy p {
    margin: var(--space-xs) 0;
}

