:root {
    --fluid-40-70: clamp(40px, 31.4286px + 2.6786cqi, 70px);
}

.main {
    min-height: calc(100vh - 160px);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 8px;

    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

.desktop-wrapper {
    display: contents;
}

.headline-h2 {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-heading-h2);
}

.headline-strong {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-heading-strong);
}

/* Here start the summary after (good morning) */

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 32px;
    gap: 12px;
}

.headline-container::after {
    content: "";
    width: 106px;
    height: 3px;
    background-color: #29abe2;
    border-radius: 2px;
}

.headline-strong2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-heading-h2);
}

.headline-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--space-lg);    
}


.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    gap: 32px;
    margin-top: 16px;
}

.section-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.flexbox-container {
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    padding: var(--space-xs);
}

.section-img {
    width: var(--fluid-40-70);
}

.flexbox-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.section-headline {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--font-heading-h2);
}

.section-span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--space-lg);
}

.deadline-container {
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.deadline-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
    padding: var(--space-xs);
}

.deadline-hr {
    height: 60px;
    align-self: center;
}

.flexbox-deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.deadline-date {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--space-lg);  
}

.task-container {
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.taks-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: var(--space-xs);
}

/* ==== Desktop ==== */

@media (min-width: 1280px) {
    
    .main {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: stretch;
        margin-left: 48px;
    }

    .headline-h2 {
        align-content: center;
        display: block;
    }

    .desktop-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .headline-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 108px;
        gap: 24px;
    }

    .headline-container::after {
        display: none;
    } 

    .headline-container h2::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 70px;
        background-color: #29abe2;
        border-radius: 2px;
        vertical-align: top;
        margin-left: 24px;
    }

    .section-container {
        margin-top: 48px;
    }

    .section-inner {

    }

    .flexbox {
        padding: 38px 19px 38px 19px;
    }

    .deadline-inner {
        padding: 28px 48px;
    }

    .taks-inner {
        padding: 25px 13px;
    }
}