:root {

    /* SVG scale */
    --image-to-do-size: clamp( 40px, 31.4286px + 2.6786cqi, 70px);
    --image-deadline-size: clamp( 40px, calc(1.98vw + 33.67px), 59px);

    /* Container mobile To-Do, Done, Taks in Board, in progresse, Awaiting feedback*/

    --todo-card-width: clamp( 186px, calc(3.55vw + 174.65px), 220px);
    --task-container-width: clamp( 116px, calc(10.84vw + 81.3px), 140px);

    /*Container Desktop */
    --todo-card-desktop-width: clamp( 221px, calc(26.875vw - 123px), 264px);
    --task-container-desktop-width: clamp( 141px, calc(15.625vw - 59px), 166px);
}

.main {
    min-height: calc(100vh - 160px);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 8px;

    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

.desktop-wrapper {
    display: contents;
    margin-top: 16px;
}

.headline-h2 {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-heading-h2);
}

.headline-strong {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-heading-strong);
    color: #124658;
}

/* Here start the summary after (good morning) */

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 32px;
    gap: 12px;
}

.headline-container::after {
    content: "";
    width: 106px;
    height: 3px;
    background-color: #29abe2;
    border-radius: 2px;
}

.headline-strong2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-heading-h2);
}

.headline-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--space-lg);    
}


.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    gap: 32px;
}

.section-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.flexbox-container {
    width: var(--todo-card-width);
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
    height: 100%;
    padding: var(--space-xs);
}

.section-img {
    width: var(--image-to-do-size);
    height: var(--image-to-do-size);
}

.flexbox-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.section-headline {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--font-heading-h2);
}

.section-span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--space-lg);
}

.deadline-container {
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.deadline-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    padding: var(--space-xs);
}

.deadline-img {
    height: var(--image-deadline-size);
    width: var(--image-deadline-size);
}

.deadline-hr {
    height: 60px;
    align-self: center;
}

.flexbox-deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.deadline-date {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--space-lg);  
}

.task-container {
    width: var(--task-container-width);
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.taks-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: var(--space-xs);
}

/* ==== Desktop ==== */

@media (min-width: 1280px) {
    
    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        margin-left: 48px;
    }

    .headline-h2 {
        align-content: center;
        display: block;
        width: 80%;
        margin-top: 200px;
        font-size: 48px;
    }

    .headline-strong {
        font-size: 64px;
    }

    .desktop-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row-reverse;
        gap: 48px;
        width: 100%;
    }

    .headline-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 180px;
        gap: 24px;
        
    }

    .headline-container::after {
        display: none;
    } 

    .headline-container h2::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 70px;
        background-color: #29abe2;
        border-radius: 2px;
        vertical-align: top;
          margin-left: clamp( 48px, calc(20vw - 208px), 80px);
    }

    .headline-span {
        font-size: 24px;
    }

    .section-container {
        gap: 16px;
    }

    .flexbox-container {
        width: var(--todo-card-desktop-width);
    }

    .deadline-container {
        height: 168px;
    }

    .flexbox {
        padding: 32px 16px;
    }

    .section-img {
        height: 69px;
        width: 69px;
    }

    .deadline-inner {
        height: 100%;
    }

    .deadline-img {
        height: 60px;
        width: 60px;
    }

    .taks-inner {
        padding: 16px 12px;
    }
}